@model IEnumerable<CodeTrip.Models.Usuario>


<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container text-center text-dark mt-5">
            <h1 class="text-dark">Bem-vindo ao sistema da CodeTrip.</h1>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Faça o Login para autentificar</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>