@model CodeTrip.Models.Pedido;
<link href="~/css/cadastraprod.css" rel="stylesheet" />


<h1 class="titulo-prod">Cadastrar Pedido</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarPedido" class="form-prod">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id_Usuario" class="control-label"></label>
                <input asp-for="Id_Usuario" class="form-control" />
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CPF_Cli" class="control-label"></label>
                <input asp-for="CPF_Cli" class="form-control" />
                <span asp-validation-for="CPF_Cli" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data_Inicio" class="control-label"></label>
                <input asp-for="Data_Inicio" type="date" class="form-control" />
                <span asp-validation-for="Data_Inicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data_Fim" class="control-label"></label>
                <input asp-for="Data_Fim" type="date" class="form-control" />
                <span asp-validation-for="Data_Fim" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id_Transp" class="control-label"></label>
                <input asp-for="Id_Transp" class="form-control" />
                <span asp-validation-for="Id_Transp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id_End_Transporte" class="control-label"></label>
                <input asp-for="Id_End_Transporte" class="form-control" />
                <span asp-validation-for="Id_End_Transporte" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id_Hospedagem" class="control-label"></label>
                <input asp-for="Id_Hospedagem" class="form-control" />
                <span asp-validation-for="Id_Hospedagem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id_Pagamento" class="control-label"></label>
                <input asp-for="Id_Pagamento" class="form-control" />
                <span asp-validation-for="Id_Pagamento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
            <div class="voltar-prod">
                <a asp-action="Index" class="btn btn-outline-dark">Voltar para Pedido</a>
            </div>
            <div class="voltar-prod">
                <a asp-area="" asp-controller="Home" asp-action="MenuSistema" class="btn btn-outline-dark">Voltar ao Menu Principal</a>
            </div>
        </form>
    </div>
</div>
