@model IEnumerable<CodeTrip.Models.Usuario>

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="Email_Usuario" required />
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="Senha_Usuario" required />
    </div>
    <button type="submit">Login</button>
</form>